    <div (click)="openModal()" class="fixed bottom-4 right-4 rounded-full bg-violet-500 p-5 m-3 cursor-pointer hover:scale-[1.01] transition ease-in-out z-50">
        <span class="flex flex-row gap-2">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M15.514 3.293a1 1 0 0 0-1.415 0L12.151 5.24a.93.93 0 0 1 .056.052l6.5 6.5a.97.97 0 0 1 .052.056L20.707 9.9a1 1 0 0 0 0-1.415l-5.193-5.193ZM7.004 8.27l3.892-1.46 6.293 6.293-1.46 3.893a1 1 0 0 1-.603.591l-9.494 3.355a1 1 0 0 1-.98-.18l6.452-6.453a1 1 0 0 0-1.414-1.414l-6.453 6.452a1 1 0 0 1-.18-.98l3.355-9.494a1 1 0 0 1 .591-.603Z" clip-rule="evenodd"/>
            </svg>
             Ajouter un rêve
        </span>
    </div>
    <app-toast></app-toast>

    <div class="flex justify-center mb-5">
        <div (click)="exportDreams()" class="flex rounded-full bg-blue-800 p-5 m-3 cursor-pointer hover:scale-[1.01] transition ease-in-out">
            <span>Exporter mes rêves</span>
        </div> 
        <div class="flex flex-col justify-start rounded-full bg-slate-800 p-5 m-3 cursor-pointer hover:scale-[1.01] transition ease-in-out">
            <span>Importer mes rêves</span>
            <input
            type="file"
            accept="application/json"
            (change)="importDreams($event)"
            />
        </div>
    </div>
     @if(isModalOpen()){
        <div class="overlay fixed inset-0 bg-black/60 flex items-center justify-center z-50">
            <div class="modal flex flex-col justify-center bg-slate-900 border border-slate-700 rounded-2xl p-6 w-full max-w-lg after:inline-block content-\00d7">
                <div class="header flex justify-between">
                    @if(selectedDreamToEdit()){
                        <h1 class="text-2xl mb-5 font-bold m-auto">Modifier un rêve</h1>
                    } @else {
                        <h1 class="text-2xl mb-5 font-bold m-auto">Ajouter un rêve</h1>
                    }
                    <button class="close flex flex-row text-end text-xl font-bold text-slate-400 hover:text-white" (click)="closeModal()">✕</button>
                </div>
                <app-dream-form class="mb-5" (cancel)="closeModal()" (formSubmitted)="closeModal()"></app-dream-form>
            </div>
        </div>
     }
        @if(isConfirmationModalOpen() && dreamToDelete()) {

            <app-confirmation-modal
                [title]="'Supprimer ce rêve ?'"
                [message]="dreamToDelete()!.title"
                (confirmed)="deleteDream(dreamToDelete()!.id)"
                (cancelled)="closeConfirmationModal()"
            />

        }

     
    
    <div class="stats text-mb-5 px-4 w-full max-w-2xl mx-auto ">
        <h2 class="text-3xl font-bold text-center mb-5 ">📊 Statistiques</h2>
        <div class="container mb-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4 w-full max-w-2xl mx-auto">
            @for (filter of filters; track filter.value) {
            <div class="cards text-slate-400  border border-slate-700 p-4 rounded-lg bg-slate-800 w-full text-center">{{filter.label}}
                <div class="font-bold text-center mt-2">{{ countDreamsType(filter.value) }}</div>
            </div>
            
            }
        </div>
    </div>
    <div class="filters mb-10">
        <div class="container flex justify-center gap-4 mb-5 px-4 w-full max-w-2xl mx-auto">
            @for (filter of filters; track filter.value) {

                @if (filter.value === selectedType()) {
                    <button class="{{ filter.activeClass }} text-slate-300 p-2 rounded" (click)="selectType(filter.value)">{{ filter.label }}</button>
                } @else {
                    <button class="bg-slate-800 text-slate-300 p-2 rounded hover:bg-slate-900 focus:bg-slate-700 focus:ring-brand-medium" (click)="selectType(filter.value)">{{ filter.label }}</button>
                }
            }
        </div>
    </div>
    <div>
        <input #searchQuery type="text" placeholder="Rechercher..." class="flex justify-center w-full max-w-2xl mx-auto mb-5 px-4 py-2 rounded bg-slate-800 text-slate-300 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2   focus:ring-offset-slate-900 transition-colors duration-300 " (input)="onSearchUpdate(searchQuery.value)">
    </div>
    <div>
        <h1 class="text-3xl font-bold text-center mt-5 mb-2">Mes Rêves</h1>
    </div>
    <div class="container flex flex-col gap-5 py-5 px-4 w-full max-w-2xl mx-auto">
        @for (dream of filteredDreams(); track dream.id) {
            
            <div class="cards bg-slate-900 p-4 rounded-lg flex flex-col  items-center justify-center w-full mx-auto shadow-lg  border border-slate-700 hover:bg-slate-800 duration-300 cursor-pointer hover:scale-[1.01] transition ease-in-out">
                <ul class="flex flex-col gap-1 text-sm text-slate-300 w-full">

                    <h1 class="text-xl mb-5 font-bold">{{ dream.title }}</h1>
                    <div class="flex justify-between">
                        @if (dream.type === 'lucid') {
                            <div class="rounded bg-purple-800 text-sm text-purple-300 pt-1 pb-1 pl-2 pr-2 font-bold">LUCIDE</div>
                        } @else if (dream.type === 'nightmare') {
                            <div class="rounded bg-red-800 text-sm text-red-300 p-1 font-bold">CAUCHEMAR</div>
                        } @else if (dream.type === 'recurring') {
                            <div class="rounded bg-yellow-800 text-sm text-yellow-300 p-1 font-bold">RÉCURRENT</div>
                        } @else {
                            <div class="rounded bg-slate-800 text-sm text-slate-300 p-1 font-bold">NORMAL</div>
                        } 
                        <p>{{dream.date | date: "longDate"}}</p>
                    </div>
                    <p class="text-slate-400">{{ dream.content }}</p>
                </ul>
                <div class="flex self-end gap-2 mt-3">

                    <button class="bg-blue-800 mt-3 p-2 rounded" (click)="updateDream(dream.id)">Modifier</button>
                    <button class="bg-red-800 mt-3 p-2 rounded" (click)="openConfirmationModal(dream)">Supprimer</button>

                </div>

            </div>
            } @empty {
                <div>Il n'y a pas de rêves.</div>
            }
    </div>