
<div class="container flex flex-col gap-5 py-5 px-4 w-full max-w-xl mx-auto mb-10 bg-slate-900 p-5 rounded-lg border border-slate-700">
    <form class="flex flex-col gap-3"[formGroup]="dreamForm" (ngSubmit)="dreamformSubmit()">
        <label for="title">Titre : </label>
        <input id="title" type="text" formControlName="title" class="rounded text-white "/>

        <label for="content">Contenu : </label>
        <textarea id="content" formControlName="content" class="bg-black text-white"></textarea>

        <label for="type">Type : </label>
        <select id="type" formControlName="type">
            <option value="normal">Normal</option>
            <option value="lucid">Lucid</option>
            <option value="recurring">Recurring</option>
            <option value="nightmare">Nightmare</option>
        </select>
        <div class="flex flex-row justify-between">
        <button class="bg-red-800  mt-3 p-2 rounded disabled:opacity-50 disabled:bg-slate-500" type="button" (click)="cancel.emit()">Annuler</button>
        <button class="bg-blue-800 mt-3 p-2 rounded disabled:opacity-50 disabled:bg-slate-500 " type="submit" [disabled]="!dreamForm.valid">{{editOrCreateLabel()}}</button>
        </div>
        
        
    </form>
</div>